{% load i18n %}

{% if page_obj.has_other_pages %}
<nav aria-label="Navegação das páginas" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Anterior" %}</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{% trans "Anterior" %}</a>
            </li>
        {% endif %}

        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {% trans "Página" %} {{ page_obj.number }} {% trans "de" %} {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Próxima" %}</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{% trans "Próxima" %}</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}